@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#btn {
    font-size: 1.2rem;
    font-family: "Poppins";
    padding: 10px;
    width: 100px;
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 10px;
}


#btn:hover {
    cursor: pointer;
    opacity: .83;
}

#btn:active {
    transform: translateY(3px);
}
